* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    font-family: monospace;
    font-weight: lighter;

}

.image1 {
    position: relative;
    background-image: url(/assets/images/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 606px;
}

.image2 {

    position: absolute;
    top: 180px;

    .start {
        font-size: 3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 40px;
    }

    .small {
        margin-left: 40px;
        color: aliceblue;
        font-size: 16px;
    }

    button {
        margin-left: 40px;
        margin-top: 10px;
        padding: 10px 15px 10px 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        background-color: rgb(205, 201, 201);
        border-color: aliceblue;
    }

    .icons {
        margin: 150px 0px 20px 40px;

        a {
            color: rgb(136, 131, 131);
        }
    }

}

@media screen and (max-width:750px) {
   .start {
        font-size: 2rem;
        font-weight: lighter;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 40px;
    }
}

@media screen and (max-width:500px) {
   .start {
        font-size: 5vh;
        font-weight: lighter;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 40px;
    }
}

.part2 {
    margin-top: 130px;
    margin-bottom: 130px;

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.big {
    font-size: 4rem;
}

.part-3 {

    height: 500px;
    background-color: azure;
}

.float {
    float: inline-end;
}

.part5 {
    width: 90vw;
    height: 200px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px 100px 0px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width:700px) {
    .pictures {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}

@media screen and (max-width:1200px) {
    .pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

}

@media screen and (max-width:900px) {
    .pictures {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}

@media screen and (max-width:400px) {
    .pictures {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}

.rates {
    float: inline-end;
}

.pricing {
    background-color: rgb(132, 128, 128);
}

.title {
    font-size: 2rem;
}

.icon {
    a {
        color: rgb(136, 131, 131);
    }
}